$primary-color: #004643;
$secondary-color: #F9BC60;
$tertiary-color: #E16162;
$background-color: #FEF6ED;
$white: #FFFFFF;
$black: #000000;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
/* Firefox */
input[type=number] { -moz-appearance: textfield; }

.container{
  max-width: 1024px;
  background-color: $background-color;
}
.layout{
  margin: auto;
  width: 290px;
  padding: 0;
}
.box-image{
  margin: auto;
  margin-left: 0;
  width: 290px;
  height: 107px;
  display: flex;
  border-radius: 5px;
  position: relative;
  display: table;
  border: 1px solid $primary-color;
  background-color: $white;
}
mat-grid-tile {
  border: 1px solid $primary-color;
  border-radius: 5px;
}
.button-image{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 196px;
  height: 34px;
  font-size: 1rem;
  margin-inline: auto;
  margin-top: 35px;
}
input[name="sellbuy"]{
  margin-top: 10px;
  accent-color: $black;
}
title, .button-cancel, .button-register, .file-image {
  display: none;
}
.form-field{
  width: 215px;
  height: 35px;
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: $white;
  border: 1px solid $black;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}
.form-field-two{
  width: 290px;
  height: 107px; 
  margin-bottom: 1px;
}
.form-field-arrow{
  background: url(https://img.icons8.com/android/24/null/sort-down.png) no-repeat scroll 185px 4px;
  background-color: $white;
}
.inputWithIcon input[type=text]{
  padding-left:20px;
}
.inputWithIcon {
  display: inline-block;
  position: relative;
}
.inputWithIcon i{
  position: absolute;
  right:0px;
  top:0px;
  padding:5px 5px;
  filter: contrast(10%);
}
.form-field-euro{
  background-color: $white;
}
.text{
  display: inline-block;
  margin-top: 36px;
  margin-bottom: 0px;
  width: 75px;
  height: 35px;
  font-weight: 400;
  font-size: 1rem;
}
.text-type{
  margin-top: 10px;
}
.text-type-two, .text-image{
  margin-top: 0px;
  height: 20px;
}
.text-button-radio {
  font-size: 1rem;
  margin-right: 50px;
}

@media (min-width: 768px) {

  .layout{
    width: 100%;
    padding-top: 50px;
  }
  .row >*{
    width:50%;
    display: inline-block;
  }
  .row-button{
    display: flex;
    justify-content: space-around;
  }
  mat-grid-list{
    width: 100%;
    height: 144px;
    border-radius: 5px;
    padding-left: 5px;
    float: left;
    margin-bottom: 20px;
  }
  mat-grid-tile {
    border: 1px solid $primary-color;
    border-radius: 5px;
    width: 50px;
  }
  title{
    width: 100%;
    height: 50px;
    margin-inline: auto;
    display: flex;
    align-items: flex-end;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
  }
  .text, .text-button-radio{
    font-size: 1.2rem;
    height: 20px;
  }
  .text-type, .text-type-two{
    font-size: 1.2rem;
    height: 20px;
  }
  .text-image, .inputWithIcon i{
    display: none;
  }
  .inputWithIcon {
    width: 100%;
  }
  .form-field{
    width: 90%;
    height: 55px;
    font-size: 1.2rem;
    padding-left: 20px;
    margin-bottom: 10px;
    border: 1px solid $primary-color;
    background: $background-color;
    background-color: $background-color;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
  }
  .form-field-two{
    width: 100%;
    height: 200px;
    padding-top: 15px;
    padding-right: 20px;
  }
  .box-image{
    width: 100%;
    height: 355px;
    margin-top: 35px;
    background-color: #E7E7E7;
  }
  .btn-remove-image{
    position: absolute;
    cursor: pointer;
    top: 2px;
    right: 2px;
    background-color: $tertiary-color;
    color: $white;
    border-radius: 50%;
    width: 20px;
    height: auto;
    text-align: center;
  }
  .button{    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    width: 45%;
    height: 50px;
    border-radius: 40px;
    font-size: 1.5rem;
    font-style: normal;
    border: none;
  }
  .button-image{
    width: 196px;
    height: 30px;
    font-size: 1.2rem;
    background-color: #D9D9D9;
    border-radius: 10px;
    font-weight: 500;
    margin-inline: auto;
    margin-top: 160px;
  }
  .button-cancel{
    background: $background-color;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
  .button-register{
    background: $primary-color;
    color: $background-color;
  }
}