<div class="container">
  <div class="layout">
    <title>Upload New Item</title>
    <h1 class="text">I want</h1>
    <label class="text-button-radio" *ngFor="let trade of tradeOptionRadioButton" for="myRadioId">
      <input type="radio" id="myRadioId" name="sellbuy">
      {{trade}}
    </label>
    <div class="row">
      <div>
        <h1 class="text text-type">Title</h1>
        <input class="form-field" formControlName="title" type="text">
        <h1 class="text text-type">Category</h1>
        <select class="form-field form-field-arrow" formControlName="category">
          <option hidden></option>
          <option *ngFor="let y of categoryType" value="">{{y.category}}</option>
        </select>
        <h1 class="text text-type">Price</h1>
        <input class="form-field form-field-euro" formControlName="price" type="number">
        <h1 class="text text-type">District</h1>
        <select class="form-field form-field-arrow" formControlName="district">
          <option hidden></option>
          <option *ngFor="let z of districtType" value="">{{z.place}}</option>
        </select>
      </div>
      <div>
        <div *ngIf="screenMode == 'web'">
          <h1 class="text text-image">Image</h1>
          <div class="box-image row-two">
            <div *ngFor="let preview of previews">
              <img class="image-data column" [src]="preview" />
            </div>
            <div class="button-label">
              <div>
                <label class="button-image column" for="image">Choose File</label>
              </div>
            </div>
          </div>
          <input class="file-image right" id="image" multiple (change)="onFileSelect($event)" type="file" />
        </div>
      </div>
    </div>
    <h1 class="text text-type-two">Description</h1>
    <textarea class="form-field form-field-two" formControlName="comment"></textarea>
    <div *ngIf="screenMode == 'mobile'">
      <h1 class="text text-image">Image</h1>
      <div class="box-image">
        <div *ngFor="let preview of previews">
          <img class="image-data column" [src]="preview" />
        </div>
        <div class="button-label">
          <label class="button-image" for="image">Choose File</label>
        </div>
      </div>
      <input class="file-image" id="image" multiple (change)="onFileSelect($event)" type="file" />
    </div>
    <div class="row-button" [align]="'end'">
      <button class="button button-register" routerLink="/post">REGISTER</button>
      <button mat-dialog-close class="button button-cancel">CANCEL</button>
    </div>
  </div>
</div>
