$primary-color: #004643;
$secondary-color: #F9BC60;
$tertiary-color: #E16162;
$background-color: #FEF6ED;

.header-container {
  height: 55px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-icon-container {
  display: flex;
  justify-content: left;
  padding-left: 30px;
}
.left-icon-container img {
  height: 38px;
}
.right-icon-container {
  display: flex;
  justify-content: right;
  padding-right: 30px;
}
.right-icon-mobile img {
  height: 25px;
  width: 25px;
}
.left-icon-container img:hover, .right-icon-mobile img:hover {
  opacity: 0.7;
}

// Web-mode 
@media (min-width: 768px){
  .header-container {
    height: 80px;
  }
  .left-icon-container {
    padding-left: 80px;
  }
  .left-icon-container img {
    width: 110px;
  }
  .right-icon-container {
    padding-right: 80px;
  }
  .right-icon1-web {
    margin-right: 10px;
  }
  .right-icon1-web img, .right-icon2-web img  {
    height: 38px;
  }
  .right-icon1-web img:hover , .right-icon2-web img:hover {
    opacity: 0.7;
  }
}



