<app-header
  [iconLWLink]="'/'"
  [iconR1WLink]="'/login'"
  [iconR2WLink]="'/signup'"
  [iconLMLink]="'/'"
  [iconR1MLink]=""
  [iconR2MLink]="'/login'"
></app-header>
<app-product-description *ngIf="product" 
  [productId]="product._id"
  [productTitle]="product.title"
  [productCategory]="product.category"
  [productPrice]="product.price"
  [district]="product.district"
  [createdAt]="product.createdAt"
  [productImage]="product.imageUrl"
  [productDescription]="product.description"
  [contact]="product.contact"
  ></app-product-description>
<!-- <app-footer></app-footer> -->
