<app-header
  [iconLWLink]="'/'"
  [iconR1WLink]="'/login'"
  [iconR2WLink]="'/signup'"
  [iconLMLink]=""
  [iconR1MLink]=""
  [iconR2MLink]=""
></app-header>
<app-product-description *ngIf="product" 
  [productId]="product.productId"
  [productTitle]="product.productTitle"
  [productCategory]="product.productCategory"
  [productPrice]="product.productPrice"
  [district]="product.district"
  [postDate]="product.postDate"
  [productDescription]="product.productDescription"
  [contact]="product.contact"
  ></app-product-description>
<app-footer></app-footer>
