<div class="nav-container" >
  <div class="avatar-container">
    <div class="avatar-wrapper">
      <img class="avatar-image" src="../assets/image/Avatar_buyer.png" alt="Buyer Avatar">
      <span class="avatar-text">You want to save?<br/>Every cent counts!</span>
      <input class="avatar-btn avatar-search-bar" type="text" placeholder="Search...">
    </div>
    <div class="avatar-wrapper">
      <img class="avatar-image" src="../assets/image/Avatar_seller.png" alt="Seller Avatar">
      <span class="avatar-text">You want to sell?<br/>Start with every cent!</span>
      <button class="avatar-btn avatar-sell-btn" type="button">Sell now</button>
    </div>
  </div>
</div>
