<div class="container mypage-container">
  <div class="product-list row g-3">
    <div class="product-card col-md-3 col-6" *ngFor="let product of products">
      <!-- todo: isMypost 함수 추가  -->
      <div class="product-item" [ngClass]="{'card-hover' : isMypost}" >
        <a [routerLink]="['/products', product._id]">
          <img class="product-image" [src]="product.imageUrl[0]" [alt]="product.title"/>
          <div class="product-content">
            <span id="product-title">{{ product.title }}</span>
            <span id="product-price">{{ product.price }}€</span>
            <span id="register-date">{{ product.createdAt }}</span>
          </div> 
        </a>
        <!-- todo: isMypost 함수 추가 -->
        <div class="row btn-active" [hidden]="!isMypost">
          <button class="col" id="edit-btn">edit</button>
          <button class="col" id="delete-btn">delete</button>
        </div>   
      </div>
    </div>
  </div>
</div>
