<div class="container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div *ngFor="let x of informationType" class="layout">
    <p class="text-title">Upload New Item</p>
    <form [formGroup]="productForm">

      <div class="text-iwant">I want</div>
      <label class="text-button-radio" *ngFor="let trade of tradeOptionRadioButton" for="myRadioId">
        <input type="radio" id="myRadioId" name="sellbuy">
        {{trade}}
      </label>


      <div class="row">
        <div>
          <div class="text-type">{{x.title}}</div>
          <input class="form-field" formControlName="title" type="text">

          <div class="text-type">{{x.category}}</div>
          <select class="form-fieldThird" formControlName="category" placeholder="">
            <option hidden></option>
            <option *ngFor="let y of categoryType" value="" h>{{y.category}}</option>
          </select>

          <div class="text-type">{{x.price}}</div>
          <input class="form-fieldEuro" formControlName="price" type="number">

          <div class="text-type">{{x.district}}</div>
          <select class="form-fieldThird" formControlName="district">
            <option hidden></option>
            <option *ngFor="let z of districtType" value="">{{z.place}}</option>
          </select>
        </div>

        <div>
          <div *ngIf="screenMode == 'web'">
            <div class="text-image">{{x.image}}</div>
            <div class="box-image">
              <label class="button-image" for="image">Choose File</label>
              <input class="file-image" id="image" (change)="onFileSelect($event)" type="file" />
            </div>
            <div *ngIf="imageData">
              <img [src]="imageData" [alt]="productForm.value.name" />
            </div>
          </div>
        </div>
      </div>

      <div class="text-typeSecond">{{x.description}}</div>
      <textarea class="form-fieldSecond" formControlName="comment"></textarea>

    </form>
    <div *ngIf="screenMode == 'mobile'">
      <div class="text-image">{{x.image}}</div>
      <div class="box-image">
        <label class="button-image" for="image">Choose File</label>
        <input class="file-image" id="image" (change)="onFileSelect($event)" type="file" />
      </div>
    </div>

    <div class="row-button" [align]="'end'">
      <button class="button-register" (click)="addProduct()">REGISTER</button>
      <button mat-dialog-close class="button-cancel">CANCEL</button>
    </div>
  </div>
</div>