<app-header
  [iconLWLink]="'/'"
  [iconR1WLink]=""
  [iconR2WLink]=""
  [iconLMLink]="'/'"
  [iconR1MLink]=""
  [iconR2MLink]=""
></app-header>
  <div class="login-container">
    <div class="login-greeting">Welcome Back!</div>
    <div class="form-group">
      <label>ID</label>
      <input type="text" class="id-input">
      <label>PASSWORD</label>
      <input type="text" class="pw-input">
    </div>
    <div class="login-error-text">
      Please enter the correct ID or Password.
    </div>
    <div class="btn-container">
      <button class="login-btn">LOG IN</button>
      <div class="signup-btn-container">
        <div class="signup-text">Don't you have an account?</div>
        <button [routerLink]="'/signup'" class="signup-btn">SIGN UP</button>
      </div>
    </div>
  </div>
<app-footer></app-footer>


