<app-header></app-header>
<div class="login-container">
  <div class="login-greeting">Welcome Back!</div>
  <div class="form-group">
    <label>ID</label>
    <input [(ngModel)]="loginUserData['email']" type="text" class="id-input">
    <label>PASSWORD</label>
    <input [(ngModel)]="loginUserData['password']" type="password" class="pw-input">
  </div>
  <span class="error-container">
    <div *ngIf="isDataInvalid" class="login-error-text">
      Please enter the correct ID or Password.
    </div>
  </span>
  <div class="btn-container">
    <button class="login-btn" (click)="loginUser()">LOG IN</button>
    <div class="signup-btn-container">
      <div class="signup-text">Don't you have an account?</div>
      <button class="signup-btn">SIGN UP</button>
    </div>
  </div>


